body {
    background-color: #2b2b2b;
    color: #e8bf65;
    margin-left: 20px;
    padding: 0;
}

.image {
    width: 600px;
    height: 900px;
    opacity: 1 ;

    transition: opacity 3s ease-in-out;
}

.btn {
    width: 100px;
    height: 40px;
    font-family: Tahoma;
    color: #e8bf65;
    background-color: #2b2b2b;
}

.div_coordinates {
    width: 500px;
    height: 500px;
    margin-top: 30px;
    background-color: #e8bf65;
}

.color {
    width: 100px;
    height: 100px;
}